{% extends 'base.html' %}

{% block title %}未来学生{% endblock %}

{% block header_extends %}<!--这里放每个文件对应的CSS路径-->{% endblock %}

{% block ApprenticeActive %}active{% endblock %}
{% block content %}
    <br>
    <br>
    {% for apprentice_request in apprentice_requests %}
        <p>{{ apprentice_request.user.student.student_name  }}请求拜你为师</p>

        <form action="{% url 'Apprentice_agree' apprentice_request.pk %}" method="POST" style="overflow:hidden">
            {# {{ apprentice_request.pk }} #}
            {% csrf_token %}
            <button type="submit" class="btn btn-success">同意</button>
        </form>

        <form action="{% url 'Apprentice_refuse' apprentice_request.pk %}" method="POST" style="overflow:hidden">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">拒绝</button>
        </form>

        <hr>
    {% empty %}
            <h3>---暂无拜师请求---</h3>
    {% endfor %}
    <br>
    <hr>
    <h3>已有学生</h3>
    <br>
    {% for my_students_request in my_students_requests %}
        学生姓名：{{ my_students_request.user.student.student_name }}<br>
        {% autoescape off %} 学生自我介绍： {{  my_students_request.user.student.self_introduction }} {% endautoescape %}
        <br>
    {% empty %}
            <h3>---快去收点徒弟吧---</h3>
    {% endfor %}


{% endblock %}
