{% extends 'base.html' %}

{% block title %}未来学生{% endblock %}

{% block header_extends %}<!--这里放每个文件对应的CSS路径-->{% endblock %}
{% block bodyBack %}
<body class="bg-light" style="background-image:url('/media/apprentice_bg.jpg');background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;">

{% endblock %}
<!-- {% block ApprenticeActive %}active{% endblock %} -->
{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="container">
                    <div class="row row-cols-3">
                        <!-- <div class="col">
                            1
                        </div>
                        <div class="col">
                            2
                        </div>
                        <div class="col">
                            3
                        </div> -->

                        {% for apprentice_request in apprentice_requests %}
                        <div class="col">
                            <p>有未处理的拜师请求</p>
                            <div class="card" style="width: 15rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ apprentice_request.user.student.student_name  }}拜师请求</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ apprentice_request.created_time|date:"Y-m-d H:i:s"  }}</h6>
                                    <p class="card-text">
                                        {% if apprentice_request.user.student.help %}
                                            {{ apprentice_request.user.student.help  }}
                                        {% else %}
                                            Can I bug you?
                                        {% endif %}
                                    </p>
                                    <table>
                                        <tr>
                                         <td>
                                            <form action="{% url 'Apprentice_agree' apprentice_request.pk %}" method="POST" style="overflow:hidden">
                                                <!-- {# {{ apprentice_request.pk }} #} -->
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success" onclick="apprenticeAgree()">同意</button>
                                            </form>
                                         </td>
                                         <td>
                                            <form action="{% url 'Apprentice_refuse' apprentice_request.pk %}" method="POST" style="overflow:hidden">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-info" onclick="apprenticeRefuse()">拒绝</button>
                                            </form>
                                         </td>
                                        </tr>
                                       </table>
                                </div>
                            </div>
                        </div>
                        
                        
                    <script>
                        console.log(apprentice_request);
                    </script>
                {% empty %}
                    <div class="col"></div>
                    <div class="waitForMassage" style="text-align: center;">
                        <p>在原地，等待，一个拜师消息=）</p>
                        <img src="/media/waitForMassage.jpg" alt="" height="500" width="350">
                        
                    </div>
                <!-- <div class="col-md-4">
                    
                </div> -->
                        
                {% endfor %}
                        
                    </div>
                        
                </div>
                
                
            </div>
            <div class="col-md-4">
                <!-- <h3>已有学生</h3> -->
                    <!-- <br> -->
                    <ul class="list-group">
                        <li class="list-group-item"><h3>学生列表</h3></li>
                        {% for my_students_request in my_students_requests %}
                            
                            {% if my_students_request.user.student.student_name %}
                            
                                <li class="list-group-item list-group-item-info">
                                    <a href="{% url 'student_info_outside' my_students_request.user.pk %}" >
                                        {{ my_students_request.user.student.student_name }}
                                    </a>
                                    
                                </li>
                                
                            <!-- <br> -->
                            {% else %}
                            <li class="list-group-item list-group-item-info">
                                一个不愿意透露姓名的学生
                            </li>

                            {% endif %}
                            
                            {% if my_students_nums > 4 %}
                                <li class="list-group-item list-group-item-secondary">......</li>
                            {% endif %}
                            
                        {% empty %}
                            <li class="list-group-item list-group-item-warning">暂时还没有徒弟哦~</li>
                        {% endfor %}

                        
                        <!-- <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
                        <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
                        <li class="list-group-item list-group-item-success">A simple success list group item</li>
                        <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
                        <li class="list-group-item list-group-item-warning">A simple warning list group item</li> -->
                        
                        <!-- <li class="list-group-item list-group-item-light">A simple light list group item</li>
                        <li class="list-group-item list-group-item-dark">A simple dark list group item</li> -->
                      </ul>
                      <hr>
                      <ul class="list-group">
                        <li class="list-group-item"><h3>收到的回复</h3></li>
                            {% for response in response_list %}
                                {% if response.result == 1 %}
                                    <li class="list-group-item list-group-item-success" v-bind:title="message">
                                        {{ response.teacher.teacher_name }}同意了拜师请求！
                                    </li>
                                    
                                    
                                {% endif %}
                                {% if response.result == 0 %}
                                    <li class="list-group-item list-group-item-light" v-bind:title="message">
                                        {{ response.teacher.teacher_name }}还未回复
                                    </li>
                                    
                                    
                                {% endif %}
                                {% if response.result == 2 %}
                                    <li class="list-group-item list-group-item-danger" v-bind:title="message">
                                        {{ response.teacher.teacher_name }}婉拒了拜师请求！
                                    </li>
                                    
                                    
                                {% endif %}

                                <!-- {% if response.result == 1 %}
                                    <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
                                {% endif %} -->
                            
                            
                            
                            
                            {% empty %}
                            {% endfor %}

                      </ul>
                      
                      
            </div>
        </div>
    </div>
    
    <br>
    <hr>
    <script>
        function apprenticeAgree(){
            alert('恭喜获得新徒弟');
        }
        function apprenticeRefuse(){
            alert('真是遗憾!');
        }
        console.log('{{ my_students_nums }}');
        
        
    </script>

{% endblock %}
