{% extends 'base.html' %}
{% load static %}
{% block title %}作业提交{% endblock %}

{% block header_extends %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block homeworkActive %}active{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                {# 占10列，一共12列 偏移1列，达到居中效果 #}
                <div class="col-xs-10 col-xs-offset-1">
                     <h3>作业内容</h3>
                    <p>{{ homework.content}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 col-xs-offset-1"></div>
                <div class="col-md-10 col-xs-offset-1">
                    <div class="comment-area">
                        <h3 class="comment-area-title">提交评论</h3>
                        {# user.is_authenticated  admin中已登录返回true否则返回false #}
                        {% if user.is_authenticated %}
                            <form action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                                <label>{{user.name}}欢迎评论</label>
                                {% csrf_token %}
                                {{ comment_form }}
                                <br>
                                <input type="submit" value="评论" class="btn btn-primary" style="float:right">
                            </form>
                        {% else %}
                            未登录
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <span>用户名：</span>
                                <input type="text" name="username">
                                <span>密码：</span>
                                <input type="password" name="password">
                                <input type="submit" value="登陆">
                            </form>
                        {% endif %}
                    </div>
                    <div class="comment-area">
                        <h3 class="comment-area-title">评论列表</h3>
                        {% for comment in comments %}
                            <div>
                                {# {% autoescape off %}让富文本不以html显示 #}
                                {% autoescape off %}
                                {{ comment.user }}
                                ({{ comment.comment_time|date:"Y-m-d H:n:s" }}):
                                {{ comment.text }}
                                {% endautoescape %}
                            </div>
                        {% empty %}
                            暂无评论
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

div.comment-area{
    margin-top: 2em;
}

div.comment-title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}