{% extends 'base.html' %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}
    <br><br>
    {% if user.Profile.pk %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto shadow p-3 bg-white rounded">
            <p>{{ user.Profile.nickname }}</p>
                <form action="{% url 'changeProfileInfo' user.Profile.pk %}" method="POST">
                    {% csrf_token %}
                    {% for field in change_form %}
                        <lable for="{{ field.id_for_label }}">{{ field.label }}</lable>
                        {{ field }}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                    {% endfor %}
                    <span class="pull-left text-danger">{{ change_form.non_field_errors }}</span>
                    <button type="submit" class="btn btn-info">修改</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <script>
            alert("好像还没登录呢！\n请先登录哦~");

        function JumpToHome()
        {
            window.location.href="{% url 'login' %}";
        }

        setTimeout(JumpToHome,1000);
        </script>

    {% endif %}

    <script>
        const test = window.location.href;
        const e = test.split('/');
        const l = e.length;


        console.log(e);
        console.log(l);
        console.log(e[5]);
        if ({{ user.Profile.pk }} == e[5]){
            console.log("TRUE");

        }else{
            console.log("False");
            alert("请不要修改别人的信息哦~");

        function JumpToHome()
        {
            window.location.href="{% url 'home' %}";
        }

        setTimeout(JumpToHome,1000);
        }

    </script>

{% endblock content %}