{% extends 'base.html' %}
{% block title %}{{user.Profile.nickname}}de个人中心{% endblock %}
{% load staticfiles %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header">个人信息卡片</div>

                <div class="card-body text-secondary">
                    <img id="photo" src="{{ user.Profile.photo_resize_url }}" alt="#">
                    <h2 class="card-title">{{ user.Profile.nickname }}</h2>

                    <div class="row">
                        <div class="col-md-4">


                            <p class="card-text">所在大学:</p>

                            <p class="card-text">年级:</p>
                            <p class="card-text">专业:</p>
                            <p class="card-text">擅长:</p>
                            <p class="card-text">希望的帮助:</p>

                        </div>
                        <div class="col-md-8">

                            <p class="card-text">{{ user.Profile.school }}</p>
                            <p class="card-text">{{ user.Profile.grade }}</p>

                            <p class="card-text">{{ user.Profile.major }}</p>
                            <p class="card-text">{{ teacher.skill }}</p>
                            <p class="card-text">{{ user.student.help }}</p>

                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-8">
                    <div id="sevenDayReadNum" style="width: 600px;height:400px;"></div>
                    <h3 class="commet-area-title" style="border-bottom: 1px solid #ccc;padding-bottom: 0.4em">经历以及获奖记录</h3>
                    <p aligin="left">
                    {% autoescape off %}

                        {{ teacher.self_introduction }}

                    {% endautoescape %}</p>

                    <button type="button" class="btn btn-primary" href="#">修改师傅您的信息</button>

            </div>
<!-- {#            <div class="col-md-4">#}
{#                <div class="card border-secondary mb-3" style="max-width: 30rem;">#}
{#                    <div class="card-header">学生卡片</div>#}
{##}
{#                <div class="card-body text-secondary">#}
{#                    <img id="photo" src="{{ user.Profile.photo_resize_url }}" alt="#">#}
{#                    <h2 class="card-title">{{ user.Profile.nickname }}</h2>#}
{##}
{#                    <div class="row">#}
{#                        <div class="col-md-4">#}
{##}
{##}
{#                            <p class="card-text">所在大学:</p>#}
{##}
{#                            <p class="card-text">年级:</p>#}
{#                            <p class="card-text">专业:</p>#}
{#                            <p class="card-text">擅长:</p>#}
{##}
{#                        </div>#}
{#                        <div class="col-md-8">#}
{##}
{#                            <p class="card-text">{{ user.Profile.school }}</p>#}
{#                            <p class="card-text">{{ user.Profile.grade }}</p>#}
{##}
{#                            <p class="card-text">{{ user.Profile.major }}</p>#}
{#                            <p class="card-text">{{ teacher.skill }}</p>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                </div>#}
{#            </div>#} -->






        </div>
    </div>
    <script>

        console.log("{{ dates|safe }}");
        console.log('{{ get_7_readNum }}');
        var sevenDayReadNumChart = echarts.init(document.getElementById('sevenDayReadNum'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '7日内访问量'
            },
            tooltip: {},
            legend: {
                data:['访问量']
            },
            xAxis: {
                type: 'category',
                data: {{ dates|safe }}
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: {{ get_7_readNum|safe }},
                type: 'line',
                symbol: 'triangle',
                symbolSize: 20,
                lineStyle: {
                    color: 'green',
                    width: 4,
                    type: 'dashed'
                },
                itemStyle: {
                    borderWidth: 3,
                    borderColor: 'green',
                    color: 'white'
                }
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        sevenDayReadNumChart.setOption(option);



    </script>



{% block mainbody %}{% endblock %}



{% endblock %}
