{% extends 'base.html' %}
{% block title %}{{user.Profile.nickname}}de个人中心{% endblock %}
{% load staticfiles %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header">个人信息卡片</div>

                <div class="card-body text-secondary">
                    <img id="photo" src="{{ user.Profile.photo_resize_url }}" alt="#">
                    <h2 class="card-title">{{ user.Profile.nickname }}</h2>

                    <div class="row">
                        <div class="col-md-4">


                            <p class="card-text">所在大学:</p>

                            <p class="card-text">年级:</p>
                            <p class="card-text">专业:</p>
                            <p class="card-text">擅长:</p>
                            <p class="card-text">希望的帮助:</p>

                        </div>
                        <div class="col-md-8">

                            <p class="card-text">{{ user.Profile.school }}</p>
                            <p class="card-text">{{ user.Profile.grade }}</p>

                            <p class="card-text">{{ user.Profile.major }}</p>
                            <p class="card-text">{{ teacher.skill }}</p>
                            <p class="card-text">{{ user.student.help }}</p>

                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-8">
                    <h3 class="commet-area-title" style="border-bottom: 1px solid #ccc;padding-bottom: 0.4em">经历以及获奖记录</h3>
                    <p aligin="left">
                    {% autoescape off %}

                        {{ teacher.self_introduction }}

                    {% endautoescape %}</p>

                    <button type="button" class="btn btn-primary" href="#">修改师傅您的信息</button>
            </div>
<!-- {#            <div class="col-md-4">#}
{#                <div class="card border-secondary mb-3" style="max-width: 30rem;">#}
{#                    <div class="card-header">学生卡片</div>#}
{##}
{#                <div class="card-body text-secondary">#}
{#                    <img id="photo" src="{{ user.Profile.photo_resize_url }}" alt="#">#}
{#                    <h2 class="card-title">{{ user.Profile.nickname }}</h2>#}
{##}
{#                    <div class="row">#}
{#                        <div class="col-md-4">#}
{##}
{##}
{#                            <p class="card-text">所在大学:</p>#}
{##}
{#                            <p class="card-text">年级:</p>#}
{#                            <p class="card-text">专业:</p>#}
{#                            <p class="card-text">擅长:</p>#}
{##}
{#                        </div>#}
{#                        <div class="col-md-8">#}
{##}
{#                            <p class="card-text">{{ user.Profile.school }}</p>#}
{#                            <p class="card-text">{{ user.Profile.grade }}</p>#}
{##}
{#                            <p class="card-text">{{ user.Profile.major }}</p>#}
{#                            <p class="card-text">{{ teacher.skill }}</p>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                </div>#}
{#            </div>#} -->






        </div>
    </div>
    <script>
        const test = window.location.href;
        const e = test.split('/');
        const l = e.length;

        {#console.log('{{ user.Profile.photo_resize_url }}');#}
        //console.log(e);
        //console.log(l);
        //console.log(e[5]);

        if ({{ user.teacher.pk }} == e[5]){
            console.log("TRUE");

        }else{
            console.log("False");
            console.log({{ user.teacher.pk }});
            alert("这是别人的de私人信息哦~");

        function JumpToHome()
        {
            window.location.href="{% url 'home' %}";
        }

        setTimeout(JumpToHome, 0);
        }

    </script>



{% block mainbody %}{% endblock %}



{% endblock %}
