{% extends 'base.html' %}
{% block title %}{{teacher.teacher.nickname}}de个人中心{% endblock %}
{% load staticfiles %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header">师傅卡片</div>

                <div class="card-body text-secondary">
                    <h2 class="card-title">{{ user.teacher.teacher_name }}</h2>
                    <div class="row">
                        <div class="col-md-4">


                            <p class="card-text">所在大学:</p>

                            <p class="card-text">年级:</p>
                            <p class="card-text">专业:</p>
                            <p class="card-text">擅长:</p>

                        </div>
                        <div class="col-md-8">

                            <p class="card-text">{{ user.teacher.school }}</p>
                            <p class="card-text">{{ teacher.grade }}</p>

                            <p class="card-text">{{ user.Profile.major }}</p>
                            <p class="card-text">{{ teacher.skill }}</p>

                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-8">
                    <h3 class="commet-area-title" style="border-bottom: 1px solid #ccc;padding-bottom: 0.4em">经历以及获奖记录</h3>
                    <p aligin="left">
                    {% autoescape off %}

                        {{ teacher.self_introduction }}

                    {% endautoescape %}</p>
{#                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamussagittis lacus vel augue laoreet rutrum faucibus.">#}
{#                      Popover on bottom#}
{#                    </button>#}
                    <button type="button" class="btn btn-primary" href="#">修改师傅您的信息</button>
{#                    <button type="button" class="btn btn-warning" title="Popover title"#}
{#                            data-container="body" data-toggle="popover" data-placement="right"#}
{#                            data-content="右侧的 Popover 中的一些内容">#}
{#                            右侧的 Popover#}
{#                    </button>#}
                    <script> $(function (){
                        $("[data-toggle='popover']").popover();
                        });
                    </script>



                <div class="comment-area" style="margin-top: 2em">
                    <h3 class="commet-area-title" style="border-bottom: 1px solid #ccc;padding-bottom: 0.4em">
                        来自"徒弟"们祝福
                    </h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td style="width: 15em">{{ comment.user.username }}
                                    ({{ comment.comment_time |date:"Y-m-d H:n:s" }})</td>
                                    <td>
                                        {% autoescape off %}
                                        {{ comment.text }}
                                        {% endautoescape %}
                                    <p></p><button type="button" class="btn btn-outline-info btn-sm">预览</button>
                                    <button type="button" class="btn btn-outline-primary btn-sm">编辑</button>
                                    </td>
                                </tr>
                            {% empty %}

                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>

{#                <div class="comment-area" style="margin-top: 2em">#}
{#                    <h3 class="commet-area-title" style="border-bottom: 1px solid #ccc;padding-bottom: 0.4em">发表评论</h3>#}
{#                    {% if user.is_authenticated %}#}
                    <form action="#" method="post">

                        {% csrf_token %}
                        <textarea class="form-control" id="comment_text" name="text" rows="3"></textarea>
                        <input type="hidden" name="object_id" value="{{ movie.pk }}">
                        <input type="hidden" name="content_type" value="m_info">
                        <br>
                        <button type="submit" class="btn btn-info">提交评论</button>
                    </form>
{#                {% else %}#}
{#                    尚未登录，登录之后方可评论#}
{#                    <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>#}
{#                    <span>or</span>#}
{#                    <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>#}
{#                {% endif %}#}
{#                </div>#}

            </div>
        </div>
    </div>




{% block mainbody %}{% endblock %}



{% endblock %}
