{% extends 'base.html' %}
{% block title %}奇怪的拜师系统{% endblock %}
{% block homeActive %} active {% endblock %}

{% block header_extends %}

{% endblock %}

{% block content %}

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
                <img src="/media/3.png" class="d-block w-100" alt="..." >
                    <div class="carousel-caption d-none d-md-block">
                    <h5>《劝学》</h5>
                <p>学之经, 莫速乎好其人, 隆礼次之。</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="/media/2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>《广潜书》</h5>
                <p>善之本在教, 教之本在师。</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="/media/4.png.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: #0a0a0a">《大略》</h5>
                <p style="color: #4c1d1b">国将兴, 心贵师而重傅。</p>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<div class="container">
    {% if user.is_authenticated %}

    {% else %}

    {% endif %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">人气"师傅”</h1>
    </div>
    <hr>
    <!-- 推荐内容 -->
    <div class="row">
        {% for readnum in hot_read_nums %}
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="{{ readnum.teacher.user.Profile.photo_resize_url }}" class="card-img-top" height="247" width="148" alt="...">
              <div class="card-body">
                    <p class="card-text">
                        <div style="text-align: center">{{ readnum.teacher.teacher_name }}</div>
                  <hr>
                        {% autoescape off %}
                            擅长：{{ readnum.teacher.skill }}
                        {% endautoescape %}

                    </p>
                    <button class="btn btn-info btn-lg btn-block">
                        <a href="{% url 'teacher_info_outside' readnum.teacher.user.pk %}" style="color: white">
                            看看主页
                        </a>
                    </button>
              </div>
            </div>
          </div>
        {% empty %}

            <p>
                暂无师傅信息
            </p>

{#            <script>#}
{#                window.location.replace("{% url 'home' %}");#}
{#            </script>#}
        {% endfor %}

    <hr>



  </div>
</div>
        <script>
            console.log('{{ massage }}');
            //判断如果massage是否为空
            console.log('{{ log_massage }}');
            if('{{ massage }}'){
                alert('{{ massage }}');
            }


        </script>
        {% for readnum in hot_read_nums %}
        {% empty %}
            <script>
                window.location.replace("{% url 'home' %}");
            </script>

        {% endfor %}

{% endblock content %}